/** The message area **/
.messaging-area-container {
  margin-bottom: 30px;
}
.messaging-area-container .status .online-text {
  display: none;
  color: #7d7;
}
.messaging-area-container .status .offline-text {
  color: #ff6961;
}
.messaging-area-container .status.online .online-text {
  display: block;
}
.messaging-area-container .status.online .offline-text {
  display: none;
}
.messaging-area-container a,
.messaging-area-container .btn.btn-link {
  color: #4f94cd;
}
.messaging-area-container .messaging-area {
  border: 1px solid #e3e3e3;
  clear: both;
  border-radius: 4px;
}
.messaging-area-container .messaging-area img {
  max-width: 100%;
}
.messaging-area-container .messaging-area .contacts-area {
  border-right: 1px solid #e3e3e3;
  height: 600px;
  width: 280px;
  display: inline-block;
  box-sizing: border-box;
}
@media (max-height: 670px) {
  .messaging-area-container .messaging-area .contacts-area {
    height: 500px;
  }
}
.messaging-area-container .messaging-area .contacts-area.searchfilter .searchtextarea {
  height: 80px;
}
.messaging-area-container .messaging-area .contacts-area.searchfilter .searcharea {
  height: 470px;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea {
  padding: 5px;
  text-align: center;
  height: 50px;
  box-sizing: border-box;
  line-height: 50px;
  background-color: #fff;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea input {
  background-color: #f5f5f5;
  border: 0;
  width: 90%;
  box-shadow: none;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea input:focus {
  box-shadow: none;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea.searching {
  background-color: #f5f5f5;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea.searching input {
  background-color: #fff;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea .searchfilterarea {
  line-height: 20px;
  cursor: pointer;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea .searchfilterarea .searchfilter {
  float: left;
}
.messaging-area-container .messaging-area .contacts-area .searchtextarea .searchfilterarea .searchfilterdelete {
  float: left;
  margin-left: 5px;
}
.messaging-area-container .messaging-area .contacts-area .searcharea .heading {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: bold;
}
.messaging-area-container .messaging-area .contacts-area .searcharea .course {
  text-align: center;
}
.messaging-area-container .messaging-area .contacts-area .searcharea .course:hover {
  background-color: #4f94cd;
  color: #fff;
  border: none;
  cursor: pointer;
}
.messaging-area-container .messaging-area .contacts-area .searcharea .noresults {
  padding-top: 20px;
  text-align: center;
}
.messaging-area-container .messaging-area .contacts-area .contacts {
  height: 500px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media (max-height: 670px) {
  .messaging-area-container .messaging-area .contacts-area .contacts {
    height: 400px;
  }
}
.messaging-area-container .messaging-area .contacts-area .contacts .nocontacts {
  padding-top: 20px;
  text-align: center;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact {
  height: 66px;
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread {
  background-color: #f1f1f1;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread .picture {
  border-color: #f1f1f1;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread .information {
  width: 60%;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread .unread-count-container {
  display: inline-block;
  width: 15%;
  float: left;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover {
  background-color: #4f94cd;
  color: #fff;
  border: none;
  background-color: #79b5e6;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover .information .lastmessage {
  color: #fff;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover .picture {
  border: none;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected {
  background-color: #4f94cd;
  color: #fff;
  border: none;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected .information .lastmessage {
  color: #fff;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected .picture {
  border: none;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .picture {
  line-height: 66px;
  text-align: center;
  height: 66px;
  border-bottom: 1px solid #fff;
  width: 25%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .picture img {
  border-radius: 50%;
  height: 54px;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .information {
  padding: 6px 0;
  height: 66px;
  width: 75%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .name {
  font-weight: bold;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .name img {
  vertical-align: baseline;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .lastmessage {
  word-wrap: break-word;
  margin: 0;
  height: 40px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a1a1a1;
  padding-right: 10px;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .unread-count-container {
  display: none;
  line-height: 66px;
  text-align: center;
  box-sizing: border-box;
}
.messaging-area-container .messaging-area .contacts-area .tabs {
  border-top: 1px solid #e3e3e3;
  height: 50px;
  box-sizing: border-box;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab {
  cursor: pointer;
  height: 100%;
  background-color: #f5f5f5;
  margin: 0;
  width: 50%;
  text-align: center;
  float: left;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab:hover {
  color: #4f94cd;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab .tabimage {
  height: 30px;
  line-height: 30px;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab .tabimage img {
  height: 20px;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab.selected {
  color: #4f94cd;
}
.messaging-area-container .messaging-area .messages-area {
  width: calc(100% - 280px);
  height: 600px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  float: right;
}
@media (max-height: 670px) {
  .messaging-area-container .messaging-area .messages-area {
    height: 500px;
  }
}
.messaging-area-container .messaging-area .messages-area .btn-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  font-weight: normal;
}
.messaging-area-container .messaging-area .messages-area .btn-container.view-toggle {
  display: none;
}
.messaging-area-container .messaging-area .messages-area .btn-container.delete-all {
  display: none;
}
.messaging-area-container .messaging-area .messages-area .profile-header {
  height: 50px;
  line-height: 50px;
  display: none;
}
.messaging-area-container .messaging-area .messages-area .profile-header .btn-container {
  display: block;
}
.messaging-area-container .messaging-area .messages-area .profile-header .btn-container .btn-link {
  padding: 0;
  line-height: inherit;
}
.messaging-area-container .messaging-area .messages-area .profile {
  padding: 30px;
  font-size: 16px;
  height: 600px;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media (max-height: 670px) {
  .messaging-area-container .messaging-area .messages-area .profile {
    height: 500px;
  }
}
.messaging-area-container .messaging-area .messages-area .profile .user-container {
  height: 100px;
}
.messaging-area-container .messaging-area .messages-area .profile .user-container .profile-picture {
  border-radius: 50%;
  max-height: 100px;
  display: inline-block;
}
.messaging-area-container .messaging-area .messages-area .profile .user-container .name-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10px;
}
.messaging-area-container .messaging-area .messages-area .profile .user-container .name-container .name {
  font-weight: bold;
  display: block;
}
.messaging-area-container .messaging-area .messages-area .profile .user-container .name-container .status {
  display: block;
  font-size: 14px;
}
.messaging-area-container .messaging-area .messages-area .profile .information {
  margin: 0;
  display: inline-block;
  float: right;
  margin-top: 20px;
  font-size: 14px;
  list-style: none;
}
.messaging-area-container .messaging-area .messages-area .profile .information .name {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.messaging-area-container .messaging-area .messages-area .profile .information .value {
  display: inline-block;
}
.messaging-area-container .messaging-area .messages-area .profile .actions {
  padding-top: 80px;
}
.messaging-area-container .messaging-area .messages-area .profile .actions .separator {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.messaging-area-container .messaging-area .messages-area .profile .actions .separator a.danger {
  color: #ff6961;
}
.messaging-area-container .messaging-area .messages-area .messages-header {
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
  position: relative;
}
.messaging-area-container .messaging-area .messages-area .messages-header .btn-link {
  padding: 0;
  line-height: inherit;
}
.messaging-area-container .messaging-area .messages-area .messages-header .delete-instructions {
  display: none;
}
.messaging-area-container .messaging-area .messages-area .messages-header .name-container {
  padding-top: 9px;
  display: inline-block;
}
.messaging-area-container .messaging-area .messages-area .messages-header .name-container .name {
  line-height: 20px;
}
.messaging-area-container .messaging-area .messages-area .messages-header .name-container .status {
  line-height: 12px;
  font-size: 12px;
  font-weight: normal;
}
.messaging-area-container .messaging-area .messages-area .messages-header .actions {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  font-weight: normal;
}
.messaging-area-container .messaging-area .messages-area .messages-header .actions .cancel-messages-delete {
  display: none;
}
.messaging-area-container .messaging-area .messages-area .messages {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  padding: 20px;
}
@media (max-height: 670px) {
  .messaging-area-container .messaging-area .messages-area .messages {
    height: 400px;
  }
}
.messaging-area-container .messaging-area .messages-area .messages .blocktime {
  clear: both;
  text-align: center;
  color: #a1a1a1;
  font-size: 12px;
  margin: 5px 0;
}
.messaging-area-container .messaging-area .messages-area .messages .message .deletemessagecheckbox {
  display: none;
  text-align: center;
  padding-top: 5px;
}
.messaging-area-container .messaging-area .messages-area .messages .message .content {
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  word-wrap: break-word;
  max-width: 55%;
  border-radius: 4px;
  position: relative;
}
.messaging-area-container .messaging-area .messages-area .messages .message .content .text {
  display: block;
}
.messaging-area-container .messaging-area .messages-area .messages .message .content .text p {
  margin: 0;
}
.messaging-area-container .messaging-area .messages-area .messages .message .content .timesent {
  font-size: 10px;
  color: #a1a1a1;
  float: right;
}
.messaging-area-container .messaging-area .messages-area .messages .message .content.left {
  float: left;
}
.messaging-area-container .messaging-area .messages-area .messages .message .content.right {
  float: right;
}
.messaging-area-container .messaging-area .messages-area .response {
  display: table;
  border-bottom-right-radius: 4px;
  padding: 10px 10px 9px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 28px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .messages-area .response .delete-confirmation {
  display: none;
}
.messaging-area-container .messaging-area .messages-area .response .delete-confirmation .btn.btn-link.confirm {
  border: 1px solid #4f94cd;
  border-radius: 4px;
}
.messaging-area-container .messaging-area .messages-area .response .delete-confirmation .btn.btn-link.confirm:hover {
  background-color: #4f94cd;
  color: #fff;
  text-shadow: none;
}
.messaging-area-container .messaging-area .messages-area .response .message-box {
  display: table-row;
}
.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container {
  display: table-cell;
}
.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container textarea {
  width: 100%;
  margin: 0;
  resize: none;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  background-color: #f5f5f5;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container textarea:focus {
  box-shadow: none;
}
.messaging-area-container .messaging-area .messages-area .response .message-box .send-button-container {
  display: table-cell;
  width: 1px;
}
.messaging-area-container .messaging-area .messages-area .response.messaging {
  background-color: #f5f5f5;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .messages-area .response.messaging .message-box .message-text-container textarea {
  background-color: #fff;
  transition: background-color linear 0.2s;
}
.messaging-area-container .messaging-area .messages-area.editing .messages-header .btn-container.view-all {
  display: none;
}
.messaging-area-container .messaging-area .messages-area.editing .messages-header .btn-container.delete-all {
  display: block;
}
.messaging-area-container .messaging-area .messages-area.editing .messages-header .delete-instructions {
  display: block;
}
.messaging-area-container .messaging-area .messages-area.editing .messages-header .name-container {
  display: none;
}
.messaging-area-container .messaging-area .messages-area.editing .messages-header .actions .messages-delete {
  display: none;
}
.messaging-area-container .messaging-area .messages-area.editing .messages-header .actions .cancel-messages-delete {
  display: block;
}
.messaging-area-container .messaging-area .messages-area.editing .messages .message {
  cursor: pointer;
}
.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="true"] .content {
  background-color: #4f94cd;
  border-color: #4f94cd;
  color: #fff;
}
.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="true"] .content .timesent {
  color: #fff;
}
.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="false"] .content:hover {
  background-color: #79b5e6;
  color: #fff;
}
.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="false"] .content:hover .timesent {
  color: #fff;
}
.messaging-area-container .messaging-area .messages-area.editing .response .delete-confirmation {
  display: block;
}
.messaging-area-container .messaging-area .messages-area.editing .response .message-box {
  display: none;
}